<%- include('../layouts/adminLayouts/header') %>
<div
  style="
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
    color: #333;
  "
>
  <div style="text-align: center; padding: 20px; max-width: 90%">
    <h1
      style="
        font-size: 10rem;
        margin: 0;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
      "
    >
      500
    </h1>
    <p style="font-size: 1.5rem; margin: 20px 0; line-height: 1.4">
      Oops! The requested page could not be found. Please navigate back to the admin dashboard.
    </p>
    <a
      href="/"
      style="
        display: inline-block;
        padding: 10px 20px;
        margin-top: 20px;
        font-size: 1rem;
        color: #fff;
        background-color: #000;
        text-decoration: none;
        border-radius: 5px;
        transition: transform 0.2s ease, background-color 0.3s ease;
      "
      >Go back to the homepage</a
    >
  </div>
</div>
<%- include('../layouts/adminLayouts/footer') %>
