<div class="text-end">
  <% if (order.orderStatus !== 'delivered' && order.orderStatus !== 'cancelled') { %>
      <button class="btn btn-secondary btn-sm">Invoice</button>
      <button class="btn btn-sm" id="cancelOrderButton<%=order._id%>" onclick="cancelOrder('<%= order._id %>', '<%= order.orderStatus %>')"
          <%= order.orderProductStatus === 'cancelled' ? 'disabled' : '' %> >
          <%= order.orderProductStatus === 'cancelled' ? 'Cancelled' : 'Cancel Order' %>
      </button>
      <%console.log(`hello`,order.orderStatus)%>
  <% } else if(order.orderStatus === 'delivered'&& order.orderStatus !== 'cancelled') { %>
      <button id="returnOrderButton<%= order._id %>" class="btn btn-primary btn-sm" 
          onclick="returnOrder('<%= order._id %>', '<%= order.orderStatus %>')">
          Return Order
  </button>
  <%console.log(`jell;sd;fkjds`,order.orderStatus)%>
  
  <% } else if(order.orderStatus === 'returnInitiated'||order.orderStatus === 'returnApproved'||order.orderStatus === 'returnRejected') { %>
      <button id="returnOrderButton<%= order._id %>" class="btn btn-primary btn-sm"
          onclick="returnOrder('<%= order._id %>', '<%= order.orderStatus %>')"
          disabled>
          Return Order
      </button>
  
  <% } else { %>
      <button class="btn btn-sm" id="cancelOrderButton<%=order._id%>" onclick="cancelOrder('<%= order._id %>', '<%= order.orderStatus %>')"
          <%= order.orderProductStatus !== 'cancelled' ? 'disabled' : '' %>> 
          <%= order.orderProductStatus !== 'cancelled' ? 'Cancelled' : 'Cancel Order' %>
      </button>
  <% } %>
</div>






<div>
                                                                
                                                            
  <% if (item.orderProductStatus !== 'delivered') { %>
      <button id="cancelProductButton<%= item._id %>" class="btn btn-sm individualCancel" 
          onclick="cancelProduct('<%= item._id %>', '<%= order._id %>', '<%= item.orderProductStatus %>')"
          
          <%= item.orderProductStatus === 'cancelled' ? 'disabled' : '' %> >
          <%= item.orderProductStatus === 'cancelled' ? 'Cancelled' : 'Cancel' %>
      </button>
  <% }  else if (item.orderProductStatus === 'returnInitiated' || item.orderProductStatus === 'returnApproved' || item.orderProductStatus === 'returnRejected') { %>
      <button id="returnOrderButton<%= order._id %>" class="btn btn-primary btn-sm"
          onclick="returnOrder('<%= order._id %>', '<%= order.orderStatus %>')"
          disabled>
          cannot Return product
      </button>
     
  <% }else { %>
      <button id="returnProductButton<%= item._id %>" class="btn btn-primary btn-sm" 
          onclick="returnProduct('<%= item._id %>', '<%= order._id %>','<%= item.orderProductStatus %>')">
          Return
      </button>
  <% } %>
  
</div>