<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>axios ecommerce</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/main.css?v=3.4">

    <!-- sweet alert css file from the installed npm install sweetalert2 library -->
    <link rel="stylesheet" href="/modules/sweetalert2/dist/sweetalert2.min.css">

    <!-- This specific script (checkout.js) is used to enable the Razorpay Checkout form on your website, which facilitates the payment process for users. -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>