<%- include('../layouts/adminLayouts/header') %>
<!-- used adminlayouts in the registration page for the user its done purposefully because its assets are in that folder so dont change -->
<main class="d-flex align-items-center justify-content-center vh-100">
    <section class="content-main">
        <div class="card mx-auto card-login" style="width: 380px;">
            <div class="card-body">
                <h4 class="card-title mb-4 text-center">OTP Verification</h4>
                <form method="post" action="/home">
                    <div class="mb-3">
                        <input class="form-control" name="otp" placeholder="Enter OTP" type="text">
                    </div> <!-- form-group// -->
                    <div class="mb-4">
                        <button type="submit" name="signin" class="btn btn-primary w-100"> Verify OTP </button>
                    </div> <!-- form-group// -->
                    <div class="mb-4">
                        <button type="submit" name="resendotp" class="btn btn-primary w-100"> Resend OTP </button>
                    </div> <!-- form-group// -->
                    <p class="text-center mb-4">Don't have account? <a href="/signup">Sign up</a></p>
                </form>
            </div>
        </div>
    </section>
</main>
<!-- used adminlayouts in the registration page for the user its done purposefully because its assets are in that folder so dont change -->
<%- include('../layouts/adminLayouts/footer') %>
