<%- include('../layouts/userLayouts/header') %>
<%- include('../layouts/userLayouts/navbar1') %>

<h1 style="display: flex;justify-content: center;align-items: center; margin-top: 200px;">Hello your order has been placed</h1>
</body>
</html>