
<%- include('../layouts/userLayouts/header') %>
<%- include('../layouts/userLayouts/navbar1') %>
    
<main class="main">
    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <%- include('../layouts/userLayouts/sidebar') %>
                        <div class="col-md-8">

                            <H1> HELLO USER</H1>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('../layouts/userLayouts/footer') %>