<%- include('../layouts/adminLayouts/header') %>

<!-- used adminlayouts in the registration page for the user its done purposefully because its assets are in that folder so dont change -->
<main>
    <section class="content-main mt-80 mb-80">
        <div class="card mx-auto card-login">
            <div class="card-body">
                <h4 class="card-title mb-4 text-center">Create an Account</h4>
                <form method="post" id="formData" action="/signup">
                    <div class="mb-3">
                        <input class="form-control" id="fname" name="fname" placeholder="First Name" type="text">

                        <span id="fnameError" class="error"></span>

                    </div> <!-- form-group// -->
                    <div class="mb-3">
                        <input class="form-control" id="lname" name="lname" placeholder="Last Name" type="text">

                        <span id="lnameError" class="error"></span>
                    </div> <!-- form-group// -->

                    <div class="mb-3">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="text">

                        <span id="emailError" class="error"></span>
                    </div> <!-- form-group// -->

                    <div class="mb-3">
                        <input class="form-control" id="phone" name="phone" placeholder="Mobile" type="text">

                        <span id="phoneError" class="error"></span>
                    </div> <!-- form-group// -->

                    <div class="mb-3">
                        <input class="form-control" id="password" name="password" type="password" placeholder="Password" type="password">

                        <span id="passwordError" class="error"></span>
                    </div> <!-- form-group// -->


                    <div class="mb-3">
                        <p class="small text-center text-muted">By signing up, you confirm that you’ve read and accepted our User Notice and Privacy Policy.</p>
                    </div> <!-- form-group  .// -->
                    <div class="mb-4">
                        <button type="submit" class="btn btn-primary w-100"> Login </button>
                    </div> <!-- form-group// -->
                </form>
                <p class="text-center small text-muted mb-15">or sign up with</p>
                <div class="d-flex mb-4 ">
                    <a href="/auth/google" class="w-100 btn btn-light font-sm">
                        <svg aria-hidden="true" class="icon-svg" style="vertical-align: bottom; margin-top:-4px;" width="20" height="20" viewBox="0 0 20 20">
                            <path d="M16.51 8H8.98v3h4.3c-.18 1-.74 1.48-1.6 2.04v2.01h2.6a7.8 7.8 0 002.38-5.88c0-.57-.05-.66-.15-1.18z" fill="#4285F4"></path>
                            <path d="M8.98 17c2.16 0 3.97-.72 5.3-1.94l-2.6-2a4.8 4.8 0 01-7.18-2.54H1.83v2.07A8 8 0 008.98 17z" fill="#34A853"></path>
                            <path d="M4.5 10.52a4.8 4.8 0 010-3.04V5.41H1.83a8 8 0 000 7.18l2.67-2.07z" fill="#FBBC05"></path>
                            <path d="M8.98 4.18c1.17 0 2.23.4 3.06 1.2l2.3-2.3A8 8 0 001.83 5.4L4.5 7.49a4.77 4.77 0 014.48-3.3z" fill="#EA4335"></path>
                        </svg> Google
                    </a>
                </div>
                <p class="text-center mb-2">Already have an account? <a href="/signin">Sign in now</a></p>
            </div>
        </div>
    </section>
 
</main>

<!-- used adminlayouts in the registration page for the user its done purposefully because its assets are in that folder so dont change -->

<script>

//     const form = document.getElementById('formData')
//     form.addEventListener('submit', function(event) {

//         event.preventDefault(); 

//         if (validation()) {
            
//             this.submit(); 
//         }
        
//     });

//     const validation = () =>{

//         const fnameError = document.getElementById('fnameError')
//         const lnameError = document.getElementById('lnameError')
//         const emailError = document.getElementById('emailError')
//         const phoneError = document.getElementById('phoneError')
//         const passwordError = document.getElementById('passwordError')

//         fnameError.textContent = ''
//         lnameError.textContent = ''
//         emailError.textContent = ''
//         phoneError.textContent = ''
//         passwordError.textContent = ''

//         const fname = document.getElementById('fname').value
//         const lname = document.getElementById('lname').value
//         const email = document.getElementById('email').value
//         const phone = document.getElementById('phone').value
//         const password = document.getElementById('password').value

//         let isValid = true;

//         if(fname.trim()===''){

//             fnameError.textContent = "First name is required"

//             isValid = false

//         }else if(!isValidFirstName(fname.trim())){

//             fnameError.textContent = "First name must be  2 to 30 charactors and letters only"

//             isValid = false
//         }

//         if(lname.trim()===''){

//             lnameError.textContent = "Last name is required"

//             isValid = false

//         }else if(!isValidLastName(lname.trim())){

//             lnameError.textContent = "First name must be  2 to 30 charactors and letters only"

//             isValid = false
//         }

//         if(email.trim()===''){

//             emailError.textContent = "Email is required"

//             isValid = false

//         }else if(!isValidEmail(email.trim())){

//             emailError.textContent = "Please enter a valid email"

//             isValid = false
//         }

//         if(phone.trim()===''){

//             phoneError.textContent = "Phone number is required"

//             isValid = false

//         }else if(!isvalidPhone(phone.trim())){

//             phoneError.textContent = "Please enter a valid phone number"

//             isValid = false
//         }

//         if(password.trim()===''){

//             passwordError.textContent = "Password is required"

//             isValid = false
//         }else if(!isValidPassword(password.trim())){

//             passwordError.textContent = "Please enter a valid Password'Password must be at least 6 characters long and include at least one number, one lowercase letter, and one uppercase letter"

//             isValid = false
//         }

//         return isValid

//     }


//     const isValidFirstName = (fname) =>{

//         const fnameRegex = /^[A-Za-z]{2,30}$/
//         return fnameRegex.test(fname) 
//     }
//     const isValidLastName = (lname) =>{

//         const lnameRegex = /^[A-Za-z]{2,30}$/
//         return lnameRegex.test(lname) 
//     }

//     const isValidEmail = (email) =>{

//         const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/
//         return emailRegex.test(email);
//     }

//     const isvalidPhone = (phone) =>{

//         const phoneRegex = /^\+?(\d{1,3})?[-.\s]?(\(?\d{1,4}\)?)?[-.\s]?\d{1,4}[-.\s]?\d{1,4}[-.\s]?\d{1,9}$/
//         return phoneRegex.test(phone)
//     }

//     const isValidPassword = (password) =>{

//         const passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$/;
//         return passwordRegex.test(password);
//     }


//    const inputs = document.querySelectorAll('input');
// for (let i = 0; i < inputs.length; i++) {
//     inputs[i].addEventListener('input', function() {
//         validateForm();
//     });
// }



</script>


<%- include('../layouts/adminLayouts/footer') %>