
<script src="/adminAssets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/adminAssets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/adminAssets/js/vendors/select2.min.js"></script>
<script src="/adminAssets/js/vendors/perfect-scrollbar.js"></script>
<script src="/adminAssets/js/vendors/jquery.fullscreen.min.js"></script>
<script src="/adminAssets/js/vendors/chart.js"></script>
<!-- Main Script -->
<script src="/adminAssets/js/main.js" type="text/javascript"></script>
<script src="/adminAssets/js/custom-chart.js" type="text/javascript"></script>

  <!-- sweet alert js file from the installed npm install sweetalert2 library -->
<script src="/modules/sweetalert2/dist/sweetalert2.min.js"></script>

<!-- cdn link for cropping images -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.js"></script>

<!-- for excel and pdf -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.19/jspdf.plugin.autotable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</body>

</html>