<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="#" class="brand-wrap">
            <!-- <img src="" class="logo" alt="Dashboard"> -->
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
            </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item ">
                <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
            </li>
            <li class="menu-item dropdown">
                <a class="menu-link dropdown-toggle" href="#" id="bestSellersDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="icon material-icons md-trending_up"></i>
                    <span class="text">Best Sellers</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="bestSellersDropdown">
                    <li><a class="dropdown-item" href="/admin/bestSellers?type=product">Best 10 Selling Products</a></li>
                    <li><a class="dropdown-item" href="/admin/bestSellers?type=category">Best 10 Selling Categories</a></li>
                    <li><a class="dropdown-item" href="/admin/bestSellers?type=brand">Best 10 Selling Brands</a></li>
                </ul>
            </li>
            
            <li class="menu-item">
                <a class="menu-link" href="/admin/customerlist"> <i class="icon material-icons md-store"></i>
                    <span class="text">customers</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/couponManagement">
                  <i class="icon material-icons md-card_giftcard"></i>
                  <span class="text">Coupon Management</span>
                </a>
              </li>
              
              <li class="menu-item">
                <a class="menu-link" href="/admin/updateReturnStatus">
                    <i class="icon material-icons md-receipt"></i>
                    <span class="text">Return Details</span>
                </a>
            </li>
            
            <li class="menu-item dropdown">
                <a class="menu-link dropdown-toggle" href="#" id="bestSellersDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="icon material-icons md-trending_up"></i>
                    <span class="text">Offer Management</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="bestSellersDropdown">
                    <li><a class="dropdown-item" href="/admin/categoryOffer">Category</a></li>
                    <li><a class="dropdown-item" href="">Product</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a class="menu-link" disabled href="/admin/brandCategoryManagement"> <i
                        class="icon material-icons md-pie_chart"></i>
                    <span class="text">Category & Brand </span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
            </li>
        </ul>
        <hr>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                    <span class="text">Settings</span>
                </a>
                <!-- <div class="submenu">
                    <a href="#">Setting sample 1</a>
                    <a href="#">Setting sample 2</a>
                </div> -->
            </li>
            <li class="menu-item">
                <a class="menu-link" disabled href="/admin/signout"> <i
                        class="icon material-icons md-exit_to_app"></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
        <br>
        <br>
    </nav>
</aside>